/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "ProximaNova";
	font-size: 16px;
	font-weight: 400;
	background-color: #f8f8f8;
	color: #2b2929;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1 ;
}
/* ===================================================== header  =================================== */
.header {
	padding-bottom: 30px;
}
/* ====================================================== header__top  ======================================== */
.header__top {
	padding-top: 15px;
	padding-bottom: 15px;
}
.top-header {
}
.top-header__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.top-header__body {
	display: flex;flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.top-header__list {
	display: flex;
	align-items: center;
   column-gap: 30px;
   flex-wrap: wrap;
   row-gap: 5px;
}
.list-top {
}
.list-top__item {
}
.list-top__link {
	color: rgb(83, 83, 83);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	transition: text-decoration 0.3s;
}
.list-top__link:hover {
	text-decoration: underline;
}
.list-top__link:active {
	text-decoration: underline rgb(185, 182, 182);
}
.top-header__social {
}
.social-consultations {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
}
.social-consultations__text {
	line-height: 1.8;
	color: rgb(83, 83, 83);
}
.social-consultations__social {
	display: flex;
	align-items: center;
	column-gap: 10px;
	row-gap: 5px;
}
.ocial-consultations__link {}
.social-consultations__icon {
	width: 30px;
	height: 30px;
	transition: transform 0.3s;
}
	.social-consultations__icon:hover {
		transform: scale(1.1);
	}
	.social-consultations__icon:active {
		opacity: 0.8;
	}
.top-header__lang {
	display: flex;
	align-items: center;
	column-gap: 3px;
}
.lang-item__text {
	color: rgb(83, 83, 83);
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.bottom-header__icon {
	width: 24px;
	height: 24px;
}
 
.header__center {
	padding-top: 25px;
	padding-bottom: 24px;
	background-color: #fff;
	
}

/* ========================================== header__center  ======================================= */

.center-header {
	
}
.center-header__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.center-header__body {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	flex-wrap: wrap;
	row-gap: 10px;
}
.center-header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 30px;
}
.button-item {
}

.button-item__link {
	display: flex;
	column-gap: 10px;
	padding: 11px 20px;
	border-radius: 8px;
	background-color: rgb(255, 188, 87);
	align-items: center;
	transition: background-color 0.3s
}
.button-item__link:hover {
	background-color:#f6c377;
}
.button-item__link:active {
	opacity: 0.8;
}
.button-item__image {
	width: 24px;
	height: 24px;
}
.button-item__text {
	color: rgb(255, 255, 255);
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.center-header__search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 0 1 421px;
	gap: 10px;
}
.search {
	border: 2px solid rgb(177, 177, 177);
	padding: 8px 14px;
	border-radius: 8px;
}
.search__text {
	color: rgb(177, 177, 177);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}
.search__link {}
.search__image {
	width: 24px;
	height: 24px;
	transition: transform 0.3s;
}
.search__image:hover {
	transform: scale(1.1)
}
.search__image:active {
	opacity: 0.8;
}
.center-header__connection {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.connection__tel {
	width: 50px;
	height: 50px;
	transition: transform 0.3s;
}
.connection__tel:hover {
	transform: scale(1.1)
}
.connection__tel:active {
	opacity: 0.8;
}
.connection__phone {
	color: rgb(43, 41, 41);
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	flex: 0 0 136px;
}
.connection__text {
	color: rgb(83, 83, 83);
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
}
.connection__icon {
width: 24px;
height: 24px;
}
.center-header__favorites {
	display: flex;
	align-items: center;
	column-gap: 20px;
	align-self: start;
}
.center-header__icon {
	width: 50px;
	height: 50px;
	transition: transform 0.3s;
}
.center-header__icon:hover {
	transform: scale(1.1)
}
.center-header__icon:active {
	opacity: 0.8;
}

/* ======================================== header__bottom  ======================================== */

.header__bottom {
	padding-top: 19px;
	padding-bottom: 18px;
}
.bottom-header {
	background-color: #fff;
}
.bottom-header__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.bottom-header__body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between ;
	gap: 10px;
}
.bottom-header__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px;
	column-gap: 40px;
	align-items: center;
}
.bottom-header__item {
	display: flex;
	align-items: center;
	column-gap: 10px;
	transition: text-decoration 0.3s;
}
.bottom-header__item:hover {
	text-decoration: underline;
}
.bottom-header__item:active {
	text-decoration: underline rgb(185, 182, 182);
}

.bottom-header__icon {
	width: 24px;
	height: 24px;
}
.bottom-header__text {
	color: rgb(83, 83, 83);
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}
.bottom-header__content {
}
.bottom-header__list {
}
.list-bottom {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 5px;
}
.list-bottom__item {
}
.list-bottom__link {
	color: rgb(83, 83, 83);
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	transition: text-decoration 0.3s;
}
.list-bottom__link:hover {
	text-decoration: underline;
}
.list-bottom__link:active {
	text-decoration: underline rgb(185, 182, 182);
}

/* ========================================================= popular-categories  ================================================================ */
.popular-categories:not(:last-child) {
	margin-bottom: 70px;
}
.popular-categories__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.popular-categories__title:not(:last-child) {
	margin-bottom: 40px;
}

.popular-categories__column {
}
.column-popular {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 24px;
	align-items: center;
}
.column-popular__items {
	max-width: 250px;
	background-color: #fff;
	border-radius: 3.2%;
	overflow: clip;
	position: relative;
	font-size: 0;
	box-shadow: 0 3px 5px 0.5px #f4f1f1;
}
.column-popular__title {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 70%;
	z-index: 4; 
	display: inline-block; 
	color: rgb(43, 41, 41);
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.75;
}
.column-popular__number {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	color: rgb(177, 177, 177);
	font-family: ProximaNova;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.75;
	z-index: 4;
}
.column-popular__images {
	display: inline-block;
	position: relative;
	background-color: #fff;
}
	.column-popular__image {
	max-width: 100%;
	position: relative;
	z-index: 2; 
	transition: transform 0.3s;
}
.column-popular__images::after {
	content: "";
	position: absolute;
	top: 34%;
	left: -6.5%;
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-color: rgb(248, 248, 248);
}
.column-popular__images::before {
	content: "";
	background: url("../img/popular-categories/arrow.svg") 0 0 / 100% no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 3;
	border-radius: 50%;
	transition: transform 0.3s;
}
.column-popular__images:hover::before {
	transform: scale(1.1);
}
.column-popular__image:hover {
	transform: scale(1.01);
}
.column-popular__images:active::before {
	background-color: rgba(238, 235, 73, 0.223);
}

/* ====================================================== .popular-products  ================================================= */
.popular-products {
	padding-bottom: 80px;
}
.popular-products__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.popular-products__title:not(:last-child) {
	margin-bottom: 60px;
}

.title {
	color: rgb(43, 41, 41);
	font-size: 40px;
	font-weight: 600;
	line-height: 120%; /* 48/40 */
}
.title--add {
	.title__link {
		color: rgb(255, 188, 87);
		font-size: 19px;
		font-weight: 600;
		line-height: 1.26;
		margin-left: 30px;
		transition: color 0.3s;
	}
}
.title__link:hover {
	color: rgb(246, 204, 140);
}
.title__link:active {
	color: rgb(205, 160, 93);
}
.title__link::after {
	content: "";
	background: url('../img/arrow.png') 0 0 / 100% no-repeat;
	width: 12.7px;
	height: 12.7px;
	margin-left: 10px;
	transition: transform 0.3s;
}
.title__link:hover::after {
	transform: scale(1.4);
}

.popular-products__column {
}
.column-items {
	display: flex;
	column-gap: 30px;
	row-gap: 50px;
	flex-wrap: wrap;
}
.column-items__card {
	display: flex;
	flex-direction: column;
}
.column-items__card {
	width: 300px;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 3px 5px 0.5px #f4f1f1;
}
.column-items__card > *{
	margin-bottom: 20px;
}
	
.column-items__link {
	flex-grow: 1 ;
}
.column-items__image {
	width: 100%;
	border-radius: 8px;
	transition: transform 0.3s;
}
.column-items__image:hover {
	transform: scale(1.05);
}
.column-items__info {
	display: inline-block;
	color: rgb(83, 83, 83);
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
	margin-bottom: 10px;
	transition: text-decoration 0.3s;
}
.column-items__info:hover {
	text-decoration: underline;
}
.column-items__info:active {
	text-decoration: underline rgb(172, 171, 171);
}

.column-items__title {
	color: rgb(43, 41, 41);
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	margin-bottom: 10px;
	transition: text-decoration 0.3s;
}
.column-items__title:hover {
	text-decoration: underline;
}
.column-items__title:active {
	text-decoration: underline rgb(172, 171, 171);
}
.column-items__availability {
}
.column-items__product {
	display: flex;
	align-items: start;
	gap: 2px;
}
.column-items__icon {
	width: 20px;
	height: 20px;
}
.column-items__text {
	color: rgb(43, 41, 41);
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
	text-transform: capitalize;
}
.column-items__product--not {
}
.column-items__choice {
}
.choice {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.choice__price {
}
.price {
}
.price__big {
	color: rgb(224, 61, 61);
	font-weight: 400;
	line-height: 22px;
	text-decoration-line: line-through;
}
.price__small {
color: rgb(43, 41, 41);
font-size: 20px;
font-weight: 600;
line-height: 1.4;
}
.choice__item{
	display: flex;
	gap: 10px;
	align-items: center;
}
.choice__link {
}
.choice__icon {
	width: 50px;
	height: 50px;
	transition: transform 0.3s;
}
.choice__icon:hover {
	transform: scale(1.1);
}
.choice__icon:active {
	opacity: 0.8;;
}
.column-items__card > :last-child{
	margin-bottom: 0px;
}

/* ====================================================  .stock ======================================================= */

.stock {
	padding-bottom: 70px;
}
.stock__conteiner {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.stock__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.stock__body:not(:last-child) {
	margin-bottom: 40px;
}
.stock__title {
}
.stock__item {
}
.item-stock {
	display: flex;
	align-items: center;
	gap: 20px;
}
.item-stock__link {
}
.item-stock__icon {
	width: 60px;
	height: 60px;
	transition: transform 0.3s;
}
.item-stock__icon:hover {
	transform: scale(1.1);
}
.item-stock__icon:active {
	opacity: 0.8;
}
.stock__row {
	display: flex;
	align-items: center;
	column-gap: 30px;
	flex-wrap: wrap;
	row-gap: 10px;
	justify-content: center;
}
.stock__column {
}
.column-stock {
	flex: 0 1 410px;
	min-width: 290px;
}
.column-stock__link {
}
.column-stock__image {
	/* width: 410px; */
	width: 100%;
	transition: transform 0.3s;
}
.column-stock__image:hover {
  transform: scale(1.02);
}
.column-stock__image:active {
	opacity: 0.8;
 }

/* ============================================= footer  ================================================ */
.footer {
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer__container {
	max-width: 1320px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}