@import url("https://fonts.googleapis.com/css?family=Danfo:regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  color: #000;
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* ------------------------- */
[class*=__container] {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------------ */
.tasks {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.tasks__container > *:not(:last-child) {
  margin-bottom: 1.875rem;
}
.tasks__title {
  font-size: 3.75rem;
}
.tasks__title:not(:last-child) {
  margin-bottom: 3.125rem;
}
.tasks__item > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.tasks__sub-title {
  font-size: 2.5rem;
  line-height: 1.5;
}
.tasks__text {
  line-height: 1.1;
}
.tasks__code {
  line-height: 1.5;
}
.reply__title {
  font-size: 1.875rem;
  text-transform: capitalize;
}
.reply__title:not(:last-child) {
  margin-bottom: 1.25rem;
}